[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/ebony/Desktop/install.txt]
row=3
col=0

[/home/ebony/Desktop/vmware-workstation.desktop]
row=4
col=0

[/home/ebony/Desktop/mono.txt]
row=1
col=0

[/home/ebony/Desktop/apt-01.txt]
row=2
col=0

[/home/ebony/Desktop/boot-repair-master]
row=0
col=0

