[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/ebony/unity-3d]
row=7
col=6

[/home/ebony/dmenu]
row=3
col=0

[/home/ebony/Downloads]
row=6
col=1

[/home/ebony/Templates]
row=0
col=7

[/home/ebony/fontconfig]
row=7
col=0

[/home/ebony/Documents]
row=7
col=1

[/home/ebony/2D Movement in Unity (Tutorial).mp4.part]
row=0
col=4

[/home/ebony/Projects]
row=6
col=7

[/home/ebony/dwm]
row=2
col=0

[/home/ebony/set]
row=0
col=5

[/home/ebony/GitBook]
row=6
col=4

[/home/ebony/Microsoft.Net.Compilers.2.9.0]
row=6
col=0

[/home/ebony/TeamSpeak3-Client-linux_amd64]
row=0
col=2

[/home/ebony/GPUCache]
row=4
col=0

[/home/ebony/primus_0~20150328-6.debian.tar.xz]
row=3
col=3

[/home/ebony/viber.deb]
row=5
col=2

[/home/ebony/vibernew.deb]
row=7
col=3

[/home/ebony/AvalonStudio]
row=5
col=4

[/home/ebony/git]
row=3
col=1

[/home/ebony/snap]
row=8
col=0

[/home/ebony/Music]
row=5
col=1

[/home/ebony/dwm_6.1-5.debian.tar.gz]
row=1
col=5

[/home/ebony/dwm-6.1]
row=5
col=6

[/home/ebony/greenclip.cfg]
row=0
col=1

[/home/ebony/list]
row=4
col=4

[/home/ebony/dwm_6.1.orig.tar.gz]
row=2
col=5

[/home/ebony/my_settings]
row=8
col=2

[/home/ebony/ib_logfile0]
row=3
col=4

[/home/ebony/primus-0~20150328]
row=2
col=3

[/home/ebony/viber]
row=3
col=5

[/home/ebony/ib_logfile1]
row=0
col=6

[/home/ebony/wget-log.1]
row=8
col=3

[/home/ebony/LICENSE]
row=6
col=5

[/home/ebony/st]
row=1
col=0

[/home/ebony/swift]
row=3
col=7

[/home/ebony/README.md]
row=5
col=5

[/home/ebony/wget-log.2]
row=2
col=2

[/home/ebony/info.txt]
row=4
col=2

[/home/ebony/anaconda-ks.cfg]
row=1
col=1

[/home/ebony/bin]
row=4
col=7

[/home/ebony/ttf]
row=2
col=7

[/home/ebony/43208824?st=69eb1e3416a853d8a4e718897cbd58804b368f3d60de9453b40dc5b47defd10e]
row=1
col=2

[/home/ebony/Android]
row=5
col=0

[/home/ebony/Public]
row=8
col=6

[/home/ebony/Unity-2018.2.7f1]
row=6
col=6

[/home/ebony/dwm_6.1-5.dsc]
row=4
col=5

[/home/ebony/kuppiya.lk]
row=8
col=4

[/home/ebony/vpn]
row=2
col=4

[/home/ebony/Desktop]
row=2
col=1

[/home/ebony/primus_0~20150328-6.dsc]
row=5
col=3

[/home/ebony/wget-log]
row=1
col=3

[/home/ebony/Pictures]
row=4
col=1

[/home/ebony/ping]
row=7
col=4

[/home/ebony/Videos]
row=8
col=1

[/home/ebony/primus_0~20150328.orig.tar.gz]
row=4
col=3

[/home/ebony/etc]
row=1
col=4

[/home/ebony/node_modules]
row=7
col=2

[/home/ebony/vmware]
row=1
col=7

[/home/ebony/kdenlive]
row=4
col=6

[/home/ebony/xidb]
row=0
col=3

[/home/ebony/floobits]
row=3
col=6

[/home/ebony/initial-setup-ks.cfg]
row=6
col=3

[/home/ebony/package-lock.json]
row=6
col=2

[/home/ebony/xtx]
row=7
col=5

[/home/ebony/raw.dat]
row=3
col=2

[/home/ebony/obj]
row=0
col=0

[/home/ebony/sketchbook]
row=5
col=7

