[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/ebony/Desktop/install.txt]
row=0
col=1

[/home/ebony/Desktop/mono.txt]
row=7
col=0

[/home/ebony/Desktop/apt-01.txt]
row=8
col=0

[a1d0c7b4-11f6-4fcc-b14b-d30c1887a289]
row=2
col=0

[F414F16C14F131EA]
row=0
col=0

[3eb269c2-3c0b-4b13-862b-046d1bd01d96]
row=3
col=0

[25467b88-f495-48fb-bd3b-7e865e6db0f2]
row=1
col=0

[Trash]
row=4
col=0

[/]
row=5
col=0

[/home/ebony]
row=6
col=0

